@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@source '../../index.md';
@source '../../.vitepress/theme/**/*.{js,vue}';
@source '../../components/**/*.{js,vue}';

@theme {
    --font-display: "Red Hat Display", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-sans: "Red Hat Text", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: "Red Hat Mono", ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
    --font-serif: ui-serif, "Georgia", "Cambria", "Times New Roman", "Times", serif;
    --font-cursive: cursive;

    --animate-slide-top: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    @keyframes slide-top {
        0% {
            transform: translateY(-100px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@layer base {
    :root {
        @apply bg-neutral-200 text-black dark:bg-neutral-800 dark:text-white overflow-x-hidden;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @font-face {
        font-family: 'Red Hat Display';
        font-style: normal;
        src: url('assets/fonts/redhatdisplay.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Red Hat Display';
        font-style: italic;
        src: url('assets/fonts/redhatdisplayitalic.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Red Hat Text';
        font-style: normal;
        src: url('./assets/fonts/redhattext.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Red Hat Text';
        font-style: italic;
        src: url('./assets/fonts/redhattextitalic.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Red Hat Mono';
        font-style: normal;
        src: url('./assets/fonts/redhatmono.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Red Hat Mono';
        font-style: italic;
        src: url('./assets/fonts/redhatmonoitalic.ttf') format('truetype');
    }
}