@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@source '../../index.md';
@source '../../.vitepress/theme/**/*.{js,vue}';
@source '../../components/**/*.{js,vue}';

@theme {
    --font-sans: "Ubuntu", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: "Ubuntu Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-serif: ui-serif, "Georgia", "Cambria", "Times New Roman", "Times", serif;
    --font-cursive: cursive;

    --animate-slide-top: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    @keyframes slide-top {
        0% {
            transform: translateY(-100px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@layer base {
    :root {
        @apply bg-neutral-200 text-black dark:bg-neutral-800 dark:text-white overflow-x-hidden font-sans;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @font-face {
        font-family: 'Ubuntu';
        src: url(assets/fonts/Ubuntu-R.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Ubuntu';
        src: url(assets/fonts/Ubuntu-RI.ttf) format('truetype');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'Ubuntu';
        src: url(assets/fonts/Ubuntu-L.ttf) format('truetype');
        font-weight: lighter;
        font-style: normal;
    }

    @font-face {
        font-family: 'Ubuntu';
        src: url(assets/fonts/Ubuntu-LI.ttf) format('truetype');
        font-weight: lighter;
        font-style: italic;
    }

    @font-face {
        font-family: 'Ubuntu';
        src: url(assets/fonts/Ubuntu-M.ttf) format('truetype');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'Ubuntu';
        src: url(assets/fonts/Ubuntu-MI.ttf) format('truetype');
        font-weight: 500;
        font-style: italic;
    }

    @font-face {
        font-family: 'Ubuntu';
        src: url(assets/fonts/Ubuntu-B.ttf) format('truetype');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Ubuntu';
        src: url(assets/fonts/Ubuntu-BI.ttf) format('truetype');
        font-weight: bold;
        font-style: italic;
    }

    @font-face {
        font-family: 'Ubuntu';
        src: url(assets/fonts/Ubuntu-C.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
        font-stretch: condensed;
    }

    @font-face {
        font-family: 'Ubuntu Mono';
        src: url(assets/fonts/UbuntuMono-R.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Ubuntu Mono';
        src: url(assets/fonts/UbuntuMono-RI.ttf) format('truetype');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'Ubuntu Mono';
        src: url(assets/fonts/UbuntuMono-B.ttf) format('truetype');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Ubuntu Mono';
        src: url(assets/fonts/UbuntuMono-BI.ttf) format('truetype');
        font-weight: bold;
        font-style: italic;
    }
}