@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply bg-neutral-200 text-black dark:bg-neutral-800 dark:text-white overflow-x-hidden;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @font-face {
        font-family: 'Red Hat Display';
        font-style: normal;
        src: url('./assets/fonts/red_hat_display.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Red Hat Text';
        font-style: normal;
        src: url('./assets/fonts/red_hat_text.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Red Hat Mono';
        font-style: normal;
        src: url('./assets/fonts/red_hat_mono.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Mate';
        font-weight: 400;
        font-style: normal;
        src: url('./assets/fonts/mate.ttf') format('truetype');
    }
    @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-variation-settings:
                "wdth" 100;
        src: url("./assets/fonts/opensans.ttf") format("truetype");
    }
}